
@media only screen and (min-width: 1200){
  
  .faq-section {

    .second-container{
   
      .section-header{
        h1{
          width: 177px;
          height: 96px;
          font-family: Nexa;
          font-size: 80px;
          font-weight: 900;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: left;
          color: #1b2750;
        }
      }
    }
  }
}

@media only screen and (max-width: 1800px) {
  .landing-container {
    max-width: 90%;
  }

  .heading-80 {
    font-size: 75px;
  }

  .banner-container {
    max-width: 1550px;
  }
 ;
 
}
@media only screen and (max-width: 1600px) {
 
  .clean-inbox{
    .features-images{
      .animation-circle{
        box-shadow: -30px 0 30px 0 rgba(255, 134, 60, 0.3);
        transform: translate(20%, -40%);
      }
    }
  }

  .spend-smart{
    .features-images{
      .animation-circle{
        box-shadow: -30px 0 30px 0 rgba(54, 59, 186, 0.3);
        transform: translate(20%, -40%);
      }
    }
  }

  .heading-80 {
    font-size: 70px;
  }

  .faq-section .card-header {
    padding: 25px;

  }

  .faq-section .card-header h5 {
    font-size: 22px;
  }

  .faq-section .card-body.according-root-body-content {
    padding: 25px;
  }

  .heading-60 {
    font-size: 55px;
  }

  .text-form-area input {
    padding: 20px 30px;
  }

  button.submit-btn {
    padding: 15px 30px;
  }

  .text-form-area button.submit-btn {
    top: 5px;
  }

  .form-group.text-left.custom-input input.form-control {
    padding: 29px 20px;
  }

  .heading-24 {
    font-size: 22px;
  }

  section.banner-section {
    padding-bottom: 180px;
  }

  .section-padding-bottom-300 {
    padding-bottom: 180px;
  }

  .section-padding-top-300 {
    padding-top: 180px;
  }


  .feature-circle-description{
    padding: 100px 80px;
    padding-top: 100px!important;
    h4{
      font-size: 38px;
    }
    p{
      font-size: 25px;
      line-height: 1.65;
    }
  }
  .features-images>img{
    width:270px;
  }
  .animation-circle{

    width: 270px;
    height: 270px;
    // transform: translate(70%, -20%);
  }
  .features{
    section{
      width: 550px;
      height: 550px;
    }
  }

}

@media only screen and (max-width: 1440px) {
  .heading-34 {
    font-size: 28px;
  }

  .feature-item {
    padding: 30px 40px 30px;
  }

  .feature-slider-area.slider-content-inner {
    right: -361px;
    width: 500px;
    height: 568px;
  }

  .banner-container {
    max-width: 1100px;
  }



  .banner-left {
    padding-left: 70px;
  }

  .heading-60 {
    font-size: 50px;
  }

 
  a.default-btn {
    font-size: 16px;
    padding: 12px 17px;
  }

 
  .heading-80 {
    font-size: 65px;
  }

  
  .features-images>img{
    width:200px;
  }
  .animation-circle{

    width: 200px;
    height: 200px;
    // transform: translate(70%, -20%);
  }
  .features{
    section{
      width: 400px;
      height: 400px;
    }
    
  }
  .feature-circle-description{
    padding: 60px;
    padding-left: 80px;
    h4{
      font-size: 30px;
    }
    p{
      font-size: 20px;
      line-height: 1.60;
    }
  }

}

@media only screen and (max-width: 1200px) {

.faq-contact{
  width: 700px;
  height: 180px;
  // display: grid;
  // grid-template-columns: 2fr 1fr;
  // justify-content: center;
  // align-items: center;
  p{
    padding: 50px;
    font-size: 28px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #1b2750;
  }

}

  .banner-home-desc{
    margin-top: -120px!important;
  }
  .contact-container {
    max-width: 90%;
  }


  .banner-left h1 {
    margin-bottom: 20px;
    padding-right: 0;
  }


  .banner-container {
    max-width: 850px;
  }

  .contact-section button {
    max-width: 150px;
  }

  textarea.custom-textarea {
    height: 90px;
  }

  .form-group.text-left.custom-input input.form-control {
    padding: 20px 10px;
  }

  .heading-60 {
    font-size: 45px;
  }

  .second-container {
    max-width: 900px;
  }


  .heading-80 {
    font-size: 60px;
  }

  a.default-btn.with-logo svg {
    width: 30px;
  }

  span.span-22 {
    font-size: 20px;
    line-height: 1;
  }
  .feature-circle-description{
    h4{
      font-size: 30px;
    }
    p{
      font-size: 20px;
      line-height: 1.60;
    }
  }
  .features-images>img{
    width:200px;
  }
  .animation-circle{
    width: 200px;
    height: 200px;
    transform: translate(70%, -20%);
  }
  .features{
    section{
      width: 400px;
      height: 400px;
    }
  }


.banner-section{
  padding-bottom: 0px!important;
}

section.slider-section {
  .second-container {
    max-width: 1400px;
  }
}
.slider-content-inner .swiper-slide.swiper-slide-active {
  transform: scaleX(1.8) !important;
}

.slider-content-inner .swiper-slide.swiper-slide-next,
.swiper-slide.swiper-slide-prev {
  transform: scaleX(1) translateY(52px)!important;
  box-shadow: none;
}
.frame {
  position: absolute;
  left: 0;
  right: 0;
  top: -6.5%;
  bottom: 0;
  width: 39.5%;
  margin: auto;
  z-index: 3;
}

}
@media only screen and (max-width: 1025px) {
  .receipts{
    .feature-circle-description{
      background-image: linear-gradient(to bottom, #ffffff, #e1f5fe);
    }
    
  }
  .clean-inbox{
    .feature-circle-description{
      background-image: linear-gradient(to bottom, #ffffff, #fff4e1);
    }
    
  }
  
  .paperless{
    .feature-circle-description{
      background-image: linear-gradient(to bottom, #ffffff, #dfffe8);
    }
    
  }
  .spend-smart{
    .feature-circle-description{
      background-image: linear-gradient(to bottom, #ffffff, #f1e5ff);
    }
    
  }

  .features{
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-rows:1fr 1fr ;
    grid-template-columns: none;
    // row-gap: 10px;
    padding: 0px;
    margin-left: -38px;
    section{
      margin:auto;
  
    }

  }

  // 
  .animated-circle-div {
    grid-row-end: 1;
    justify-self: center!important;
    align-self: center;
  }
  .feature-circle-description{
    margin: 0px auto!important;
    width: 1100px!important;
    height: 1100px!important;
    margin-top: 70px!important;
    grid-row-start: 0;
    grid-row-end: 1;
    overflow: hidden!important;
    transform: none!important;
    justify-content: start;   
    justify-self: center!important;
    align-self: center;
    
    h4{
      max-width:800px;
      margin:0px auto;
      font-family: nexa500;
      font-size: 60px!important;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      margin-top: 70px;
    // text-align: center;
    }
    p{
      font-family: nexa;
      font-size: 42px!important;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.55;
      letter-spacing: normal;
      text-align: center;
      width: 853px;
      height: 125px;
      margin: 20px auto;
      
    }
  }
  .features-images{
    width: 100%!important;
    grid-row-start: 1;
    grid-row-end: 2;
    top:-450px;
    margin: 0px auto;
    z-index: 10000;
    // padding-bottom: 100px;
  }
  .features-images>img{
    margin:0px auto;
    width: 310px;
  }
  .animation-circle{
    width: 250px;
    height: 250px;
  }
  .receipts{
    .features-images{
      .animation-circle{
        box-shadow: 30px 0 30px 0 rgba(3, 155, 229, 0.3);
        transform: translate(260%, -20%);
      }
    }
  }
  .clean-inbox{
    .features-images{
      .animation-circle{
        box-shadow: -30px 0 30px 0 rgba(255, 134, 60, 0.3);
        transform: translate(70%, -20%);
      }
    }
  }
  
  .paperless{
    .features-images{
      .animation-circle{
        box-shadow: 30px 0 30px 0 rgba(87, 168, 103, 0.3);
        transform: translate(260%, -20%);
      }
    }
  }
  .spend-smart{
    .features-images{
      .animation-circle{
        box-shadow: -30px 0 30px 0 rgba(54, 59, 186, 0.3);
        transform: translate(70%, -20%);
      }
    }
  }



}
@media only screen and (max-width: 991px) {
  
  .slider-content-inner .swiper-slide.swiper-slide-active {
    transform: scaleX(2.2) !important;
  }
  .questionmark{
    width: 150px;
    height: 103px;
  }
  .card-body.according-root-body-content {
    padding: 30px;

    font-size: 20px!important;
  }
  section.banner-section {
    margin-top: 92px;
  }

  .section-padding-bottom-300 {
    padding-bottom: 100px;
  }

  .section-padding-top-300 {
    padding-top: 100px;
  }

  section.banner-section {
    padding-bottom: 100px;
  }
  .heading-24 {
    font-size: 20px;
  }

  .banner-container {
    max-width: 700px;
  }

 
  .text-section-inner {
    padding: 50px 0;
  }

  .text-form-area input {
    padding: 12px 15px;
  }

  .text-form-area button.submit-btn {
    top: 4px;
  }

  button.submit-btn {
    padding: 7.5px 20px;
  }

  .text-section-inner h2 {
    margin-bottom: 40px;
  }

  .second-container {
    max-width: 700px;
  }

  .navbar-logo img {
    width: 150px;
  }

  .heading-80 {
    font-size: 50px;
  }

  .faq-section .card-header {
    padding: 20px;
  }

  .faq-section .card-header h5 {
    font-size: 20px;
  }

  .faq-section .card-body.according-root-body-content {
    padding: 20px;
  }

  .l-footer-inner {
    flex-wrap: wrap;
  }

  .footer-left {
    width: 100%;
  }

  .footer-middle {
    width: 100%;
    margin: 10px 0;
  }
  .feature-circle-description{
    width:350px;
    height: 350px;
    padding-left: 60px;
  }

  .feature-circle-description{
    h4{
      font-size: 25px;
    }
    p{
      font-size: 15px;
      line-height: 1.58;
    }
  }
  .features{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    padding: 0px;
    justify-content: space-around;
    margin-left: 0px;
    section{
      // border: 1px solid red;
      margin:auto;
      width: 300px;
      height: 300px;
    }
  }
  .features-images>img{
    width:200px;
  }
  .animation-circle{
    width: 200px!important;
    height: 200px;
  }
  .faqIcons{
    width: 16px;
    height: 16px;
}

.banner-download-btn{
  margin: 40px auto;
}
.banner-description{
  margin-top: 10px;
  width: 631px;
  height: 24px;
  font-family: Nexa;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: center;
  color: #8a90a2;
}
.Go-Paperless{
  width: 418px;
  height: 60px;
  font-family: nexaBold;
  font-size: 50px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #1b2750;
}


// .responsive-menu{
//   display: block;
// }



.banner-home-desc{
  margin-top: -80px!important;
}

.banner-slider{
  transform: scale(0.93);
  width: 80%;
  max-width: 1000px;
  // padding: 50px 20px;
  margin: auto;
  box-sizing: border-box;
}
.frame {
  position: absolute;
  left: 0;
  right: 0;
  top: -6.5%;
  bottom: 0;
  width: 37.5%;
  margin: auto;
  z-index: 3;
}
.slider-section{
  margin: 20px;
}
.dots {
  bottom: -2%;
}
.dots span{
  width:10px;
  height: 10px;
}
.animated-circle-div {
  grid-row-end: 1;
  justify-self: center!important;
  align-self: center;
}
.feature-circle-description{
  margin: 0px auto!important;
  width: 1100px!important;
  height: 1100px!important;
  margin-top: 70px!important;
  grid-row-start: 0;
  grid-row-end: 1;
  overflow: hidden!important;
  transform: none!important;
  justify-content: start;   
  justify-self: center!important;
  align-self: center;
  
  h4{
    max-width:800px;
    margin:0px auto;
    font-family: nexa500;
    font-size: 50px!important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    margin-top: 70px;
  // text-align: center;
  }
  p{
    font-family: nexa;
    font-size: 32px!important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: normal;
    text-align: center;
    width: 653px;
    height: 125px;
    margin: 20px auto;
    
  }
}
.features-images{
  width: 100%!important;
  grid-row-start: 1;
  grid-row-end: 2;
  top:-450px;
  margin: 0px auto;
  z-index: 10000;
  // padding-bottom: 100px;
}
.features-images>img{
  margin:0px auto;
  width: 230px;
}
.animation-circle{
  width: 200px;
  height: 200px;
}
.receipts{
  .features-images{
    .animation-circle{
      box-shadow: 30px 0 30px 0 rgba(3, 155, 229, 0.3);
      transform: translate(320%, -20%);
    }
  }
}
.clean-inbox{
  .features-images{
    .animation-circle{
      box-shadow: -30px 0 30px 0 rgba(255, 134, 60, 0.3);
      transform: translate(130%, -20%);
    }
  }
}

.paperless{
  .features-images{
    .animation-circle{
      box-shadow: 30px 0 30px 0 rgba(87, 168, 103, 0.3);
      transform: translate(320%, -20%);
    }
  }
}
.spend-smart{
  .features-images{
    .animation-circle{
      box-shadow: -30px 0 30px 0 rgba(54, 59, 186, 0.3);
      transform: translate(130%, -20%);
    }
  }
}
}

@media only screen and (max-width: 768px) {
  form{
    margin-top: -40px;
  }
  .contact-heading{
    font-size: 24px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 0px;
  }
  a.default-btn {
   
    svg{
       width: 22px!important;
       height: 22px!important;
      path{
        fill:#f1f2f5;
        stroke: #1b2750;
        stroke-width: 35px;
      }
    }
    &:hover {
      background: #dfe1e8;
      svg{

       path{
         fill:#1b2750;
         stroke: #1b2750;
         stroke-width: 35px;
       }
     }
    }
  }
  .receipts{
  .feature-circle-description{
    background-image: linear-gradient(to bottom, #ffffff, #e1f5fe);
  }
  
}
.clean-inbox{
  .feature-circle-description{
    background-image: linear-gradient(to bottom, #ffffff, #fff4e1);
  }
  
}

.paperless{
  .feature-circle-description{
    background-image: linear-gradient(to bottom, #ffffff, #dfffe8);
  }
  
}
.spend-smart{
  .feature-circle-description{
    background-image: linear-gradient(to bottom, #ffffff, #f1e5ff);
  }
  
}
  .navbar-menu ul {
    display: flex;
    justify-content: center;
}
  .banner-home-desc{
    margin-top: -20px!important;
  }
  .faq-contact{
    width: 334px;
    height: 180px;
    display: grid;
    grid-template-columns: none;;
    grid-template-rows: 1fr 1fr!important;
    // justify-content: center;
    // align-items: center;
    padding: 0px;
    p{
      margin: 0px auto;
      width: 126px;
      height: 50px;
      font-family: Nexa;
      font-size: 20px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: center;
      color: #1b2750;
      padding: 0px;
    }
    button{
      justify-self: center;
      width: 200px;
      height: 50px;
      border-radius: 10px;
      background-color: #ff5d2f;
      border: none;
      a{
        font-size: 16px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 3.75;
        letter-spacing: normal;
        text-align: center;
      }
  
    }
  }
  .slider-section{
    padding-top: 40px;
    margin-top: 0px;
  }

  .slider-content-inner .mobile-frame-area img {
    width: 200px;
  }

  .navbar-menu ul li {
    margin: 0 15px;
  }

  section.slider-section .second-container {
    max-width: 680px;
  }
  .slider-content-inner .swiper-slide {
    transform: translateY(80px) !important;
    height: 500px;
  
    .slider-item,
    img {
      height: 232px;
    }
  }
  .slider-content-inner .swiper-slide.swiper-slide-active {
    height: 380px;
    margin-top: 10px;
    transform: scaleX(1.4) !important;
  }

  .slider-content-inner .swiper-slide.swiper-slide-next,
  .swiper-slide.swiper-slide-prev {
    height: 303px!important;
    transform: scaleX(1) translateY(52px)!important;
    .slider-item,
    img {
      height: 100%;
    }
  }
  .swiper-pagination {
    
    bottom: 50px!important;

  }
.floatinput{
  display: block;
  // border:1px solid red!important;
  div{
    display: inline-block;
    width:100%!important;
    height:80px!important;
    
    input{
      width: 100%!important;
    }
  }
}
  .banner-download-btn{
    .default-btn{
      margin: 0px auto!important;
    }
    
  }

  section.banner-section {
    margin-top: 89px;
  }
  

  .section-padding-bottom-300 {
    padding-bottom: 50px;
  }

  // .contact-section {
  //   margin-top: 50px;
  // }

  .section-padding-top-300 {
    padding-top: 50px;
  }

  a.default-btn.with-logo {
    padding: 5px 10px;
  }

  a.default-btn.with-logo svg {
    width: 25px;
  }

  span.span-12 {
    font-size: 10px;
    // margin-bottom: 2px;
  }

  span.span-22 {
    font-size: 16px;
    line-height: 1;
  }

  .second-container {
    max-width: 90%;
  }

  .contact-section button {
    max-width: 100px;
  }

  .text-form-area {
    max-width: 90%;
  }

  a.default-btn {
    font-size: 14px;
    padding: 8px 12px;
  }

  .navbar-logo img {
    // width: 100px;
    width: 140px;
  height: 24.6px;
  margin-top: 5px;
  }

  .heading-80 {
    font-size: 40px;
  }

  .heading-60 {
    font-size: 30px;
  }


  .navbar-menu ul li {
    margin: 0 15px;
  }


  .navbar-menu ul li {
    margin: 0 8px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;

  }

  a.default-btn.with-logo {
    max-width: 155px;
  }

  section.contact-section {
    .heading-40 {
      text-align: center;
    }
  }

  .heading-40 {
    font-size: 20px;
    font-weight: 700;
  }
  .features{
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-rows:1fr 1fr ;
    grid-template-columns: none;
    // row-gap: 10px;
    padding: 0px;
    
    section{
      // border-radius: 50% 50% 0 0;
      width: 100%;
    }
    section:first-child{
      margin:auto;
      
    }
    section:nth-child(2n){
      margin:auto;
     
    }
  }

  // 
  .animated-circle-div {
    grid-row-end: 1;
    
    justify-self: center!important;
    align-self: center;
  }
  .feature-circle-description{
    margin: 0px auto!important;
    width: 800px!important;
    height: 800px!important;
    margin-top: 50px!important;
    grid-row-start: 0;
    grid-row-end: 1;
    overflow: hidden!important;
    transform: none!important;
    justify-content: start;   
    justify-self: center!important;
    align-self: center;
    
    h4{
      font-family: nexa500;
      font-size: 40px!important;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      margin-top: 40px;
    // text-align: center;
    }
    p{
      font-family: nexa;
      font-size: 22px!important;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.55;
      letter-spacing: normal;
      text-align: center;
      width: 453px;
      height: 95px;
      margin: 20px auto;
      
    }
  }
  .features-images{
    width: 100%!important;
    grid-row-start: 1;
    grid-row-end: 2;
    top:-320px;
    margin: 0px auto;
    z-index: 10000;
    // padding-bottom: 100px;
  }
  .features-images>img{
    margin:0px auto;
    width: 240px;
  }
  .receipts{
    .features-images{
      .animation-circle{
        box-shadow: 30px 0 30px 0 rgba(3, 155, 229, 0.3);
        transform: translate(230%, -20%);
      }
    }
  }
  .clean-inbox{
    .features-images{
      .animation-circle{
        box-shadow: -30px 0 30px 0 rgba(255, 134, 60, 0.3);
        transform: translate(60%, -20%);
      }
    }
  }
  
  .paperless{
    .features-images{
      .animation-circle{
        box-shadow: 30px 0 30px 0 rgba(87, 168, 103, 0.3);
        transform: translate(240%, -20%);
      }
    }
  }
  .spend-smart{
    .features-images{
      .animation-circle{
        box-shadow: -30px 0 30px 0 rgba(54, 59, 186, 0.3);
        transform: translate(60%, -20%);
      }
    }
  }

  .faq-section{
    margin: 50px auto 0px auto!important;
    padding-top: 50px!important;
    padding-bottom: 10px;
    .second-container{
      width: 85%;
    }
    .section-header{
      height: 120px;
      padding: 0px;
      margin: 0px;
      div{
        svg{
          width:180px!important;
          height:200px!important;
        }
        
      }
    }

    
  }
  .footer-info{
    // width: 484px;
    // height: 100px;
    font-family: Nexa;
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    padding:10px 80px;
  }
  .footer-middle{
    margin-top: 100px;
  }

  .card-body.according-root-body-content {
    padding: 30px;

    font-size: 17px!important;
  }
  // .card-header {

  //   h5 {
  //     font-size: 19px!important;
  //   }
  // }
  .responsive-ul{
    li{
      font-size: 23px;
      margin: 0px auto;
      a{
        color: #354156!important;
      }
    }
  }
  .banner-description{
    width: 500px;
    height: 24px;
    font-family: nexa500;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: center;
  }
  .Go-Paperless {
  width: 418px;
  height: 60px;
  font-family: nexaBold;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  }
  .banner-download-btn{
    .default-btn{
      margin-top: 100px!important;
    }
  }
.col-md-6{
  max-width: 100%;
  
}
.contact-section{
  padding-left: 50px!important;
  padding-right: 50px !important;
}
.banner-slider{
  width:100%;
}
.banner-slider{
  transform: scale(1);
}
.wrapper{
  transform: scale(0.8);
}
}

@media only screen and (max-width: 560px) {
  .navbar-logo img {

  margin-top: 0px;
  }
  form{
    margin-top: -20px;
  }
  .features{
    padding-top: 50px;
  }
  .navbar-logo{
    float: left;
    margin-top: 0px;
    cursor: pointer;
    img{
      width: 100px;
      height: 17.5px;
    }
  }
  .landing-container{
    max-width: 100%;
  }
  .frame {
    position: absolute;
    left: 0;
    right: 0;
    top: -6.5%;
    bottom: 0;
    width: 37.5%;
    margin: auto;
    z-index: 3;
  }
  .feature-circle-description{
    // position: relative;
    // left: -16px;
    // right: 0px;
    margin: 0px auto!important;
    width: 440px!important;
    height: 440px!important;
    margin-top: 10px!important;
    grid-row-start: 0;
    grid-row-end: 1;
    overflow: hidden!important;
    transform: none!important;
    justify-content: start;   
    justify-self: center!important;
    align-self: center;
    padding-top: 20px!important;
    h4{
      font-family: nexa500;
      font-size: 30px!important;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33!important;
      letter-spacing: normal;
      text-align: center;
    // text-align: center;
    }
    p{
      width: 282px;
      height: 114px;
      font-family: nexa;
      font-size: 20px!important;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5!important;
      letter-spacing: normal;
      text-align: center;
      margin: 20px auto!important;
      padding:0px;
      
    }
  }
  .features-images{
    width: 50%!important;
    grid-row-start: 1;
    grid-row-end: 2;
    top:-130px!important;
    margin: 0px auto;
    z-index: 10000;
    // padding-bottom: 100px;

  }
  .features-images:nth-child(2n+1) > img {
    align-self: center;
}
  .features-images>img{
    margin:0px auto;
    width: 130px;
  }
  .banner-description{
    margin-top: 0px;
    width: 287px;
    height: 60px;
  }
  .banner-home-desc{
    margin-top: -30px!important;
  }
  section.slider-section .second-container {
    max-width: 378px;
  }
  .slider-section {
    margin-top: 0px;
    overflow-x: hidden;
    
  }
  .slider-content-inner .mobile-frame-area img {
    width: 150px;
  }

  // .slider-content-inner .swiper-slide.swiper-slide-active {
  //   height: 226px;
  //   margin-top: 7px;
  //   transform: scaleX(0.9) !important;
  // }
  

  .slider-content-inner .swiper-slide {
    transform: translateY(60px) !important;
    height: 500px;
  
    .slider-item,
    img {
      height: 180px;
    }
  }
  .slider-content-inner .swiper-slide.swiper-slide-active {
    height: 280px;
    margin-top: 10px;
    transform: scaleX(1.8) !important;
  }

  .slider-content-inner .swiper-slide.swiper-slide-next,
  .swiper-slide.swiper-slide-prev {
    height: 241px!important;
    transform: scaleX(1) translateY(32px)!important;
    .slider-item,
    img {
      height: 100%;
    }
  }

  .banner-right.slider-content-inner {
    width: 324px;
  }
 .banner-inner{
  height: 80%;
 }
  .responsive-ul{
    li{
      font-size: 16px;
      margin: 0px auto;
      a{
        color: #354156!important;
      }
    }
  }
  .receipts{
    .feature-circle-description{
      h4{
        // width: 208px;
        // height: 77px;
        // margin: 0px auto;
      margin-top: 40px;
      }
    }
    .features-images{
      .animation-circle{
        box-shadow: 30px 0 30px 0 rgba(3, 155, 229, 0.3);
        transform: translate(95%, -30%);
      }
    }
  }
  .paperless{
    .feature-circle-description{
      h4{
        // width: 265px;
        // height: 77px;
        // margin: 0px auto;
        margin-top: 40px;
      }
    }
    .features-images{
      .animation-circle{
        box-shadow: 30px 0 30px 0 rgba(87, 168, 103, 0.3);
        transform: translate(95%, -30%);
      }
    }
  }
  .clean-inbox{
    .feature-circle-description{
      h4{
        // width: 236px;
        // height: 37px;
        // margin: 0px auto;
        margin-top: 40px;
      }
    }
    .features-images{
      .animation-circle{
        box-shadow: -30px 0 30px 0 rgba(255, 134, 60, 0.3);
        transform: translate(-30%, -20%);
      }
    }
  }
  .spend-smart{
    .feature-circle-description{
      h4{
        // width: 242px;
        // height: 77px;
        // margin: 0px auto;
        margin-top: 40px;
      }
    }
    .features-images{
      .animation-circle{
        box-shadow: -30px 0 30px 0 rgba(54, 59, 186, 0.3);
        transform: translate(-30%, -20%);
      }
    }
  }
  .heading-60 {
    font-size: 23px;
    font-weight: 700;
    margin: 0 25px;
  }

  .heading-24 {
    font-size: 18px;
  }
  
  .features-images>img{
    width:150px;
  }
  .animation-circle{
    width:135px!important;
    height: 135px;
    border: 12px solid white;
  }

  .slider-section{
    padding-top: 50px;
    margin: 20px 0px;
  }
  section.contact-section {
    // background-color: #f8f8f8;
    padding: 40px 0px 10px 0px!important;
    .section-header{
      margin-bottom: 0px!important;
    }
  }
  .banner-slider{
    transform: scale(1);
    width: 100%;
    max-width: 1200px;
    // padding: 50px 20px;
    margin:0px auto;
    box-sizing: border-box;
  }
  .banner-description{
    width: 303px;
    height: 44px;
    font-family: nexa500;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
  }
  .Go-Paperless {
    width: 284px;
    height: 41px;
    font-family: nexaBold;
    font-size: 34px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    margin-top: 50px;
  }
  .dots{
    bottom: -5%!important;
  }
  .dots span {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
  }
  .banner-download-btn{
    .default-btn{
      margin-top: 70px!important;
    }
  }
  .footer-info{
    // width: 484px;
    // height: 100px;
    font-family: Nexa;
    font-size: 23px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    padding:10px 20px;
  }
  .footer-middle{
    margin-top: 100px;
  }
  responsive-menu-active{
    display: block!important;
  }
  .responsive-menu-icon{
    display: flex;
    float: right;
  }
  .navbar-inner {
    padding: 20px;
    flex-wrap: wrap;
    // justify-content: flex-end;
  }
  .responsive-menu-icon{
    margin-top: -5px!important;
  }
  header{

    .navbar-menu{
      display: none;
    }
    .navbar-right{
      .default-btn{
        display: none;
      }
      
    }
  }
.menu{
  font-family: nexa500;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.94;
  letter-spacing: normal;

}
  
}

@media only screen and (max-width: 480px) {
  
  .card-body.according-root-body-content {
    padding: 30px;
    
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
    
  }

  .banner-container {
    background: none;
    margin: 10px auto;
    width: 100%;
  }
 

  section.banner-section {
    margin-top: 55px;
    padding-bottom: 0;
  }

  button.submit-btn {
    font-size: 14px;
  }

  .text-section-inner {
    padding: 30px 0;
  }

  .text-form-area button.submit-btn {
    top: 5px;
    padding: 5px 10px;
  }

  .text-form-area input {
    padding: 10px 15px;
    font-size: 14px;
  }
  
  .faq-section .card-header {
    padding: 15px;
  }

  .faq-section .card-header h5 {
    font-size: 15px;
  }

  .card-body.according-root-body-content {
    font-size: 12px;
  }

  .faq-section .card-body.according-root-body-content {
    padding: 15px;
  }

  .navbar-logo {
    width: 50%;
  }

  .navbar-menu {
    width: 50%;
  }

  .navbar-menu ul {
    justify-content: flex-end;
  }

  
  // .Go-Paperless {
  //   height: 30px;
  //   font-size: 30px;
  //   font-weight: 800;
  //   padding: 10px;
  //   margin-top: 20px;
  // }
  // .banner-description{
  //   font-size: 16px;
  //   font-weight: 500;
  //   width: 90%;
  //   line-height: 1.42;
  //   margin:50px auto;
  // }
  .banner-download-btn{
    margin: 0px auto;
  }
  .banner-inner{
    margin-top: 0px;
  }
  .banner-img{
    display: block;
    position: absolute;
    margin:0px auto;
    height: 484.1px;
  }
 
  .responsive-menu-content{
    p{
      font-size: 30px;
      font-weight: 300;
    }
    
  }
  .copyright{
    font-size: 13px!important;
  }
  
}


@media only screen and (max-width: 375px){
  

  .features-images>img{
    width: 131.4px;
    height: 280px;
    margin:0px!important;
  }
  .animation-circle{
    width:138px!important;
    height: 138px;
    border: 7px solid white;
    
    // transform: translate(70%, -40%);
  }
  .faq-section{
    .section-header{
      h1{
        margin:50px 10px;
        margin-bottom: 0px!important;
      }
      div{
        svg{
          width:100px!important;
          height:110px!important;
        }
      }
    }
  }
 
  .banner-home-desc{
    margin-top: 0px!important;
  }

  .features{
    height: auto;
    padding-top: 50px;

  }
  .feature-circle-description{
    transform: none!important;
  }
  .features-images{
    top:-20px;
    margin: 0px auto;
  
  }
  .receipts{
    .features-images{
      .animation-circle{

        transform: translate(70%, -30%);
      }
    }
  }
  .paperless{
    .features-images{
      .animation-circle{

        transform: translate(70%, -30%);
      }
    }
  }
  .clean-inbox{
    
    .features-images{
      margin-right: 60px!important;
      .animation-circle{
        
        transform: translate(-35%, -20%);
      }
    }
  }
  .spend-smart{
    .features-images{
      margin-right: 60px!important;
      .animation-circle{

        transform: translate(-35%, -20%);
      }
    }
  }

  

}


@media screen and (orientation:landscape) and (max-device-width: 825px){
  .features{
    height: auto;
    padding: 100px!important;
    section{
      margin:auto ;
    }
  }


  .features-images>img{
    width:100px;
  }
  .animation-circle{
    width:100px!important;
    height: 100px;
    border: 8px solid white;
  }
}
@media only screen and (max-width: 375px){
  .features-images{
    top:-155px!important;
  }

}
@media only screen and (max-width: 360px){
  .Go-Paperless {
   
    font-family: nexaBold;
    font-size: 32px;
    margin-top: 20px;
  }
  .banner-download-btn .default-btn{
    margin-top: 30px!important;
  }
  .feature-circle-description{
    
    width: 400px!important;
    height: 400px!important;
    h4{
      font-size: 25px;

    }
    p{
      width: auto;
      height: auto;

      font-size: 16px!important;

      
    }
  }
  .features-images{
    width: 50%!important;
    grid-row-start: 1;
    grid-row-end: 2;
    top:-220px!important;
    margin: 0px auto;
    z-index: 10000;
    // padding-bottom: 100px;

  }

  .features-images>img{
    margin:0px auto;
    width: 80px;
    height: auto;
  }
  .animation-circle{
    width:80px!important;
    height: 80px;
    border: 8px solid white;
  }
  .receipts{
    .features-images{

      .animation-circle{
        box-shadow: 30px 0 30px 0 rgba(3, 155, 229, 0.3);
        transform: translate(85%, -30%);
      }
    }
  }
  .paperless{

    .features-images{
      .animation-circle{
        box-shadow: 30px 0 30px 0 rgba(87, 168, 103, 0.3);
        transform: translate(85%, -30%);
      }
    }
  }
  .clean-inbox{

    .features-images{
      .animation-circle{
        box-shadow: -30px 0 30px 0 rgba(255, 134, 60, 0.3);
        transform: translate(-10%, -20%);
      }
    }
  }
  .spend-smart{

    .features-images{
      .animation-circle{
        box-shadow: -30px 0 30px 0 rgba(54, 59, 186, 0.3);
        transform: translate(-10%, -20%);
      }
    }
  }
}